* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: Helvetica, sans-serif, Arial;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* HEADER */
header {
    background-color: #FFF3E0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

#header-left {
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    color: #FF7043;
    letter-spacing: 4px;
}

.frying-pan {
    width: 150px;
}

.frying-pan:hover {
    animation: horizontal-shaking 0.5s ease-in-out infinite;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.page-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 550px;
}

.page-links {
    flex: 0 1 80px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    text-decoration-line: none;
    transition: background-color 0.5s ease;
}

.page-links:link {
    color: #4E342E;

}

.page-links:visited {
    color: #4E342E;
}

.page-links:hover,
#page-links-active:hover {

    animation: bounce 0.3s ease-in-out;
}

#page-links-active {
    flex: 0 1 80px;
    padding: 10px;
    text-align: center;
    text-decoration-line: none;
    font-size: 36px;
    color: #FF7043;

}

@keyframes bounce {


    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

/* INDEX PAGE */

#main-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#parallax-intro {
    background-image:
        url('images/restaurant1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#parallax-first {
    background-image:
        url('images/restaurant1.jpg');
    height: 500px;
}

#parallax-second {

    background-image:
        url('images/spices.jpg');
    height: 800px;
}

/* content box */
.content-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #4e342e;
    background-color: #FFF3E0;
    font-size: 30px;
    width: 100%;
}

#about {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

#about h2 {
    color: rgb(255, 112, 67);
    font-size: 70px;
    background-color: #4e342ee8;
    width: 100%;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#about p {
    padding: 40px;
    background-color: #FFF3E0;
}

#news-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

#news-box h2 {
    color: #FF7043;
}

#news-box p {
    max-width: 500px;
    padding: 30px;
    text-align: center;
}

#image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 100%;
    flex-wrap: wrap;
}

.content-box-images {
    flex: 1 1 200px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    padding: 10px;
    object-fit: cover;
}

/* "floating quote boxes" */

#parallax-second h2 {
    margin-top: 40px;
    font-size: 70px;
    color: #FF7043;
    text-align: center;
    background-color: #4e342ed5;
}

.inner-box {
    margin: 200px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.inner-box-quotes {
    flex: 0 1 400px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #4E342E;
    background-color: #FFF3E0;
    padding: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: #FFF3E0 1px 0 10px;
}

.quote-text {
    font-style: italic;
}

.quote-author {
    font-weight: 600;
    text-align: end;
    color: #FF7043;
}

/* FOOTER */

footer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF3E0;
    width: 100%;
    padding: 20px;
    gap: 10px;
}


#footer-nav {
    flex: 0 1 180px;
}

footer .page-links {
    flex: 0 0 200px;
}

#footer-right {
    flex: 0 1 400px;
    width: 100%;
    height: 100%;
    color: #4E342E;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

/* MEDIA QUERY SECTION */

@media all and (max-width: 1024px) {

    header {
        justify-content: center;
    }

}



@media all and (max-width: 800px) {

    .page-nav {
        gap: 0px;
        padding: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        width: 100%;

    }

    .page-links:hover,
    #page-links-active:hover {
        transform: scale(1.00);

        animation: none;
    }

    #parallax-second h2 {

        font-size: 50px;

    }

    .inner-box {
        margin: 20px 0px;
    }

    #about {
        width: 100%;
    }

    #about p {
        padding: 15px 5%;
    }

    header,
    footer {
        padding: 0px;
        justify-content: center;
    }

    footer {
        flex-wrap: wrap-reverse;
    }

    header .page-links {
        flex: 1 1 20px;
        border: none;
        width: 100%;
        color: #FFF3E0;
        background-color: #4E342E;
    }

    header .page-links:link {
        color: #FFF3E0;

    }

    header .page-links:visited {
        color: #FFF3E0;
    }

    #page-links-active {
        display: flex;
        justify-content: center;
        flex: 1 1 20px;
        border: none;
        width: 100%;
    }

    #footer-nav {
        flex: 1 1 20px;
    }

    footer .page-links {
        border: none;
        width: 100%;
        flex: 0;

    }

    #footer-right {
        flex: 1 1 auto;
        border: none;
        background-color: #4E342E;
        color: #FFF3E0;
        width: 100%;
    }

}


@media all and (max-width: 600px) {
    .inner-box-quotes {
        border-radius: 0px;
    }

    .parallax {
        background-attachment: initial;
    }

    #parallax-intro {
        background: #FFF3E0;
    }

    #about {
        margin-top: 40px;
    }

    #about h2 {
        background-color: #4e342e;
    }



}