#sign-up-page {
    width: 100%;
    background-image:
        linear-gradient(45deg, #fff3e0 10%, transparent 40%),
        linear-gradient(230deg, #fff3e0 10%, transparent 40%),
        url('../images/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #4E342E;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff3e0bb;
    border-radius: 20px;
    padding: 50px;
    gap: 20px;
    width: 40%;
    min-width: 240px;
    margin: 100px;
    transition: background-color 0.9s ease;

}

.sign-up-container:hover {
    background-color: #fff3e0;

}

.sign-up-container h2 {
    font-size: 35px;
    text-align: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    /*  align-items: start; */
    justify-content: center;
    width: 80%;
    min-width: 200px;
    gap: 20px;
}

.names,
.contacts,
.courses {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;    
}

h2,
h3 {
    color: #FF7043;
    margin-bottom: 10px;
    align-self: center;
}

h3 {
    font-size: 28px;
}

input[type=text],
input[type=email],
input[type=tel],
select {
    border: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea{
    width:100%;
    height:100px;
    resize: vertical;
}


input[type=submit] {
    color: #4E342E;
    background-color: #FF7043;
    align-self: center;
    border: none;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}


/* CONFIRMATION */

#sign-up-confirmation{
    background-color: #fff3e0;
    display: flex;
    gap:20px;
    flex-direction: column;
    margin:40px;
    padding:20px;
    width:400px;
    border: 1px solid #4E342E;
}

#confirmation-link{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin:10px;
    background-color: #ffffff;

}






/* MEDIA QUERIES */

@media all and (max-width: 1250px) {
    .sign-up-container {
        border-radius: 0px;
        width: 100%;
        padding: 40px 0px;
        width: 60%;
        background-color: #fff3e0e3;
    }


}
@media all and (max-width: 900px) {
    .sign-up-container {
        border-radius: 0px;
        width: 100%;
        padding:0px;
        padding: 40px 0px;
        margin: 0px;
        width: 80%;
        background-color: #fff3e0e3;
    }
    #sign-up-confirmation{
        margin:0px;
        width:100%;
    }

}

@media all and (max-width: 600px) {
    .sign-up-container {
        border-radius: 0px;
        width: 100%;
        padding:0px;
        padding: 40px 0px;
        margin: 0px;
        width: 100%;
        background-color: #fff3e0e3;
    }


}