#contact-page {
    width: 100%;
    background-image:
        linear-gradient(to left, #fff3e0, transparent),
        url('../images/pasta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #4E342E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    background-color: #fff3e0d8;
    border-radius: 40px;
    max-width: 600px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;

}

.container h2 {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #FF7043;
}

.container h3 {
    font-size: 30px;
    color: #FF7043;
}

.icon-container {
    display: flex;
    gap: 20px;
    font-size: 35px;
}

.icon-container .page-links {
    font-size: 35px;
}

@media all and (max-width: 900px) {

    .container {
        width: 80%;
        background-color: #fff3e0e3;
    }

    .container h2 {
        align-self: center;
    }
}

@media all and (max-width: 600px) {
    #contact-page {
        padding: 0px;
    }

    .container-img {
        border-radius: 0px;
    }

    .container {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        gap: 20px;
        padding: 20px;
    }

}